.header {
  width: 100%;
}

.header__covid {
  width: 100%;
  height: 58px;
  background-color: #222;
}

.header__covid a {
  display: inline-block;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #a3a3a3;
  font-size: 1.5rem;
  font-weight: 400;
}

.header__covid a:hover {
  color: #5c5c5c;
}

.header__container {
  width: 100%;
  background-image: url("../images/background.jpg");
  background-size: contain;
  height: 790px;
}

.header__nav {
  padding: 16px 80px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.header__logo {
}

.header__logo-link {
  text-decoration: none;
  color: #fff;
  font-size: 2.4rem;
  display: flex;
  align-items: center;
  font-weight: 600;
}

.header__logo-img {
  width: 40px;
  height: 46px;
  margin-right: 6px;
}

.header__user-avatar {
  width: 32px;
  height: 32px;
}

.header__exp {
  margin-top: 10px;
  margin-right: 80px;
}

.header__exp-list {
  display: flex;
  align-items: center;
}

.header-exp-link {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 400;
  margin: 0 12px;
  position: relative;
}

.header-exp-link.active ::after {
  content: "";
  position: absolute;
  width: 70%;
  height: 2px;
  background-color: #fff;
}
